body {
    padding: 15px;
}

@media print {
    div.no-print {
        display: none;
    }
    body {
        padding: 0;
        margin: 0;
    }
}

table, th, td {
    border: 1px solid black;
    padding: 2px 4px;
}
th {
    font-weight: bold;
}

span.warning {
    color: red;
}

div.card-displays {
    position: relative;
    padding: 0;
    margin: 0;
}

div.card-outer {
    display: inline-block;
    width: 2.25in;
    height: 3.25in;
    border: 1px dotted gray;
    /*background-color: lightgrey;*/
    position: relative;
    margin-bottom: 0.0in;
}

div.slim {
    font-stretch: semi-condensed;
}

div.card-inner {
    left: 0.10in;
    top: 0.10in;
    width: 2.05in;
    height: 3.05in;
    position: relative;
    text-align: center;
    font-family: sans-serif; /* Cambria or Century? */
    font-size: 11pt;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.1;
}

div.card-name {
    font-weight: bold;
    font-size: 14pt;
}
div.card-name span.last {
    text-transform: uppercase;
}
div.card-team {
    font-size: 11pt;
}
div.card-chart {
    padding: .07in 0;
    margin:  .07in 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: sans-serif;
}
span.card-chart-cell {
    width: 33%;
    text-align: left;
    display: inline-block;
    font-size: 14px;
}
span.head {
    font-weight: bold;
}
span.result {
    padding-left: 0;
    font-stretch: semi-condensed;
    color: red;
}
span.ob {
    color: green;
}
div.card-ratings {
    font-size: 11pt;
    font-weight: bold;
}
div.card-ratings span {
    font-weight: normal;
}
div.card-stats {
    font-size: 10pt;
}
.test {
    SF: #F2552C;
    NYM: #FB4F14;
    DET: #DE4406;
    BAL: #ED4c09;
    SD: #473729;
    HOU: #FF7F00;
    PIT: #FDB829;
    TB: #FFD700;
    OAK: #003831;
    SEA: #005C5C;
    MIA: #00a3e0;
    NYY: #1C2841;
    MIL: #13294b;
    MIN: #072754;
    COL: #333366;
    LAD: #083C6B;
    CHC: #003279;
    TOR: #003DA5;
    KC: #74B4FA;
    CLE: #D30335;
    LAA: #B71234;
    ATL: #B71234;
    PHI: #BA0C2F;
    BOS: #C60C30;
    STL: #C41E3A;
    ARI: #A71930;
    CIN: #C6011F;
    WAS: #BA122B;
    TEX: #BD1021;
    CHW: #C0C0C0;
}

